# Virtual environment
venv/

# Dataset
model/data/

# Model weights
model/models/

# Outputs
backend/static/uploads/
backend/static/outputs/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
.env